@import "bootstrap/scss/bootstrap";

#main-scene {
    border: 1px solid black;
    /*image-rendering: pixelated;*/
}
.prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
footer {
    text-align: center;
}
#input-data {
    min-width: 195px;
    resize: both;
}
